#document {
    margin: 0 auto;
    zoom:2;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1;
    text-align: left;
    font-feature-settings: "liga"0;
    -moz-font-feature-settings: "liga"off
}

#document.skn-mlf6 table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    color: inherit;
    width: 100%
}

/*START content disc style for LI*/
#document.skn-mlf6 ul,
#document.skn-mlf6 li {
    list-style: none;
    margin: 0;
    padding: 0
}

#document.skn-mlf6 ul li {
    position: relative;
    margin: 0 0 0 0px;
    padding-left: 0px
}

#document.skn-mlf6 ul li a{
    text-decoration: none;
}

#document.skn-mlf6 ul li a:hover{
    text-decoration: underline;
}

#document.skn-mlf6 ul li:before {
    content: '\2022';
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/*END content disc style for LI*/

/*Helping classes*/
#document.skn-mlf6 .txt-bold {
    font-weight: bold
}

#document.skn-mlf6 .txt-itl {
    font-style: italic
}

#document.skn-mlf6 .disp-block {
    display: block
}

#document.skn-mlf6 .flt-right {
    float: right
}

/*Document*/
#document.skn-mlf6 {
    color: #504b48;
    line-height: 13px;
    word-wrap: break-word;
    min-height: 792px;
    position: relative
}

#document.skn-mlf6 .name {
    color: #007d89;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 5px;
    position: relative
}

#document.skn-mlf6 .address {
    color: #2a2a2a;
    display: table;
    table-layout: fixed;
    width: 100%
}

#document.skn-mlf6 .resumeTitle {
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 7px
}

/* common left-right container */
#document.skn-mlf6 .name,
#document.skn-mlf6 .address {
    display: table;
    table-layout: fixed;
    width: 100%
}

#document.skn-mlf6 .section .heading {
    text-align: right;
    position: relative;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    z-index: 1
}

#document.skn-mlf6 .section > .heading {
    width: 141px;
}

/*Only for API*/
#document.skn-mlf6 .parentContainer .education .firstparagraph:before {
    content: '';
    position: absolute;
    left: -2px;
    background: #007d89;
    border-radius: 50%;
    top: 19px;
    height: 6px;
    width: 6px;
    font-size: 21px;
    z-index: 1
}

#document.skn-mlf6 .section .heading:before {
    content: '';
    position: absolute;
    right: -5px;
    top: 29px;
    background: #007d89;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    z-index: 2
}

#document.skn-mlf6 .name:before {
    content: '';
    position: absolute;
    left: -33px;
    top: 13px;
    background-color: #007d89;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    z-index: 2
}

#document.skn-mlf6 .parentContainer .paragraph {
    position: relative;
    min-height: 14px
}

/*Margin-Left: 139px only for API*/
#document.skn-mlf6 .parentContainer .paragraph:not(.firstparagraph):before,
#document.skn-mlf6 .parentContainer .experience .firstparagraph:before {
    content: '';
    position: absolute;
    left: -2px;
    background: #007d89;
    border-radius: 50%;
    top: 19px;
    height: 6px;
    width: 6px;
    font-size: 21px;
    z-index: 1
}

#document.skn-mlf6 .parentContainer .section:after {
    content: '';
    display: table;
    clear: both
}

#document.skn-mlf6 .parentContainer .section:not(.lang-sec):not(.skli-sec) .section:last-child .paragraph:last-child {
    padding-bottom: 56px
}

#document.skn-mlf6 .sectiontitle {
    color: #007d89;
    text-transform: capitalize;
    font-weight: bold
}

#document.skn-mlf6 .experience .heading,
#document.skn-mlf6 .education .heading {
    float: none;
    padding-bottom: 10px
}

#document.skn-mlf6 .experience .firstparagraph {
    padding: 0
}

#document.skn-mlf6 .paragraph .datewrapper {
    color: #6e6e6e;
    text-align: right;
    float: left
}

#document.skn-mlf6 .experience .paragraph,
#document.skn-mlf6 .education .paragraph {
    clear: both
}

#document.skn-mlf6 .firstparagraph .sectiontitle {
    visibility: hidden
}

#document.skn-mlf6 .firstparagraph ~ .paragraph .sectiontitle {
    display: none
}

#document.skn-mlf6 .left-box {
    vertical-align: top;
    width: 174px
}

#document.skn-mlf6 .left-box,
#document.skn-mlf6 .right-box {
    box-sizing: border-box;
    position: relative;
    padding: 0px 25px;
    display: table-cell
}

#document.skn-mlf6 .left-box .paragraph,
#document.skn-mlf6 .right-box .paragraph {
    border: none
}

#document.skn-mlf6 .left-box .firstparagraph,
#document.skn-mlf6 .right-box .firstparagraph {
    padding-top: 30px
}

#document.skn-mlf6 .left-box .firstparagraph {
    border: none
}

#document.skn-mlf6 .singlecolumn .skill {
    display: table;
    width: 100%;
    table-layout: fixed
}

#document.skn-mlf6 .singlecolumn .skill .paddedline {
    display: table-cell;
    width: 50%
}

#document.skn-mlf6 .skill .paddedline:last-child {
    padding-left: 10px
}

/*Right box*/
#document.skn-mlf6 .right-box > .section .firstparagraph {
    padding-top: 65px
}

#document.skn-mlf6 .right-box .section:not(:first-child) .paragraph {
    padding-top: 5px
}

#document.skn-mlf6 .right-box {
    padding-left: 0px;
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 160px)
}

/*parentContainer*/
#document.skn-mlf6 .parentContainer {
    padding: 0 35px 35px
}

/*#document.skn-mlf6 .topsection:before,#document.skn-mlf6 .parentContainer:before{content:'';position:absolute;left:173px;top:0;height:100%;border-left:2px solid #dadada}*/
#document.skn-mlf6 .jobline > ul {
    padding: 5px 0 0 0px
}

#document.skn-mlf6 .parentContainer .experience .firstparagraph:before {
    top: 4px
}

#document.skn-mlf6 .firstparagraph .datewrapper {
    top: 0
}

#document.skn-mlf6 .jobtitle {
    color: #2a2a2a
}

/* PICT */
#document.skn-mlf6 .PICTPic,
#document.skn-mlf6 .PICTPic .field {
    width: 110px;
    text-align: right;
    height: 123px
}

#document.skn-mlf6 .topsection .left-box {
    padding: 0px 28px 0px 35px;
    width: 177px
}

#document.skn-mlf6 .PICTPic img {
    box-sizing: border-box;
    width: 100px;
    height: 123px;
    max-width: 100%;
    max-height: 100%
}

/* SVG Icon Style */
#document.skn-mlf6 .iconRow {
    clear: both;
    margin-bottom: 5px;
    display: table;
    table-layout: fixed;
    width: 100%
}

#document.skn-mlf6 .iconRow:last-child {
    padding-bottom: 0
}

#document.skn-mlf6 .iconSvg {
    width: 11px;
    height: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#document.skn-mlf6 .iconSvg svg {
    vertical-align: middle;
    overflow: visible
}

#document.skn-mlf6 .icoTxt {
    padding-left: 7px;
    display: table-cell;
    padding-left: 7px;
    vertical-align: middle
}


/*New logic for infographic*/
#document.skn-mlf6 .lang-sec .singlecolumn,
#document.skn-mlf6 .skli-sec .singlecolumn {
    display: none
}

#document.skn-mlf6 .lang-sec.infobarsec .infobarpara,
#document.skn-mlf6 .lang-sec.infotilesec .infotilepara,
#document.skn-mlf6 .skli-sec.infobarsec .infobarpara,
#document.skn-mlf6 .skli-sec.infotilesec .infotilepara {
    display: block
}

/*Infographic Bar*/
#document.skn-mlf6 .lang-sec.infobarsec,
#document.skn-mlf6 .skli-sec.infobarsec {
    font-size: 0
}

#document.skn-mlf6 .lang-sec.infobarsec .field *,
#document.skn-mlf6 .skli-sec.infobarsec .field *,
#document.skn-mlf6 .lang-sec.infobarsec .nativeLangPara .field {
    display: inline
}

#document.skn-mlf6 .lang-sec.infobarsec .para_odd,
#document.skn-mlf6 .skli-sec.infobarsec .para_odd {
    margin-right: 15px
}

#document.skn-mlf6 .lang-sec.infobarsec .paragraph,
#document.skn-mlf6 .skli-sec.infobarsec .paragraph {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 5px;
    border: none
}

#document.skn-mlf6 .lang-sec.infobarsec .singlecolumn,
#document.skn-mlf6 .skli-sec.infobarsec .singlecolumn {
    margin-left: 0;
    position: relative
}

#document.skn-mlf6 .lang-sec.infobarsec .rating-bar,
#document.skn-mlf6 .skli-sec.infobarsec .rating-bar {
    background: #d5d6d6;
    width: 100%;
    clear: both;
    margin-top: 3px;
    overflow: hidden
}

#document.skn-mlf6 .lang-sec.infobarsec .paragraph.nativeLangPara {
    width: 100%
}

#document.skn-mlf6 .lang-sec.infobarsec .inner-rating,
#document.skn-mlf6 .skli-sec.infobarsec .inner-rating {
    background-color: #000;
    height: 4px;
    width: 60%
}

#document.skn-mlf6 .lang-sec.infobarsec > .paragraph:nth-last-child(1),
#document.skn-mlf6 .lang-sec.infobarsec > .paragraph:nth-last-child(2),
#document.skn-mlf6 .skli-sec.infobarsec > .paragraph:nth-last-child(1),
#document.skn-mlf6 .skli-sec.infobarsec > .paragraph:nth-last-child(2) {
    padding-bottom: 0
}

#document.skn-mlf6 .lang-sec.infobarsec .paragraph .singlecolumn,
#document.skn-mlf6 .skli-sec.infobarsec .paragraph .singlecolumn {
    border: none;
    padding: 0
}

#document.skn-mlf6 .lang-sec.infobarsec .paragraph:before,
#document.skn-mlf6 .skli-sec.infobarsec .paragraph:before {
    display: none
}

#document.skn-mlf6 .new-lang .paragraph .lang-colon {
    display: none
}

/*Infographic Tiles*/
#document.skn-mlf6 .lang-sec.infotilesec,
#document.skn-mlf6 .skli-sec {
    font-size: 0
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph,
#document.skn-mlf6 .parentContainer .skli-sec .paragraph {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px !important;
    margin-top: 0;
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding-top: 0
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph:nth-last-child(1),
#document.skn-mlf6 .lang-sec.infotilesec .paragraph:nth-last-child(2),
#document.skn-mlf6 .skli-sec .paragraph:nth-last-child(1),
#document.skn-mlf6 .skli-sec .paragraph:nth-last-child(2) {
    padding-bottom: 0
}

#document.skn-mlf6 .lang-sec.infotilesec .nativeLangPara .field,
#document.skn-mlf6 .lang-sec.infotilesec .field *,
#document.skn-mlf6 .lang-sec.infotilesec .field *,
#document.skn-mlf6 .skli-sec .field * {
    display: inline
}

#document.skn-mlf6 .lang-sec.infotilesec .singlecolumn,
#document.skn-mlf6 .skli-sec .singlecolumn {
    margin-left: 0;
    position: relative
}

#document.skn-mlf6 .lang-sec.infotilesec .sliced-rect,
#document.skn-mlf6 .skli-sec .sliced-rect {
    height: 6px;
    width: 100%;
    line-height: 0px;
    margin-top: 3px;
    clear: both
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph.para_odd,
#document.skn-mlf6 .skli-sec .paragraph.para_odd {
    margin-right: 15px
}

#document.skn-mlf6 .lang-sec.infotilesec .sliced-rect .sliced-rect-tile,
#document.skn-mlf6 .skli-sec .sliced-rect .sliced-rect-tile {
    height: 100%;
    background-color: #d5d6d6;
    float: left;
    margin-right: 3px
}

#document.skn-mlf6 .lang-sec.infotilesec .sliced-rect .sliced-rect-tile:last-child,
#document.skn-mlf6 .skli-sec .sliced-rect .sliced-rect-tile:last-child {
    margin-right: 0
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph .singlecolumn,
#document.skn-mlf6 .skli-sec .paragraph .singlecolumn {
    border: none
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph:before,
#document.skn-mlf6 .skli-sec .paragraph:before {
    display: none
}

#document.skn-mlf6 .skli-sec .paragraph:nth-last-child(1) .singlecolumn .field:last-child,
#document.skn-mlf6 .skli-sec .paragraph:nth-last-child(2) .singlecolumn .field:last-child {
    min-height: 0
}

/*Rectangular Rating Blocks*/
#document.skn-mlf6 .sliced-rect .sliced-rect-tile.ratvfill {
    background-color: #576d7b
}

#document.skn-mlf6 .hide-bar .paragraph .rating-bar,
#document.skn-mlf6 .hide-bar .paragraph .sliced-rect,
#document.skn-mlf6 .hide-colon .paragraph .colon {
    display: none
}

/*MPR*/
#document.skn-mlf6 .hide-bar .field-ratt {
    display: none
}

/* MFR address order code */
#document.skn-mlf6 .zipsuffix {
    display: table-cell
}

#document.skn-mlf6 .zipprefix,
#document.skn-mlf6.MFR .zipsuffix,
#document.skn-mlf6.MES .zipsuffix {
    display: none
}

#document.skn-mlf6.MFR .zipprefix,
#document.skn-mlf6.MES .zipprefix {
    display: table-cell
}

/* PPDT */
#document.skn-mlf6 .section.disclaim .paragraph {
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 20px;
    border: none
}

#document.skn-mlf6 .section.disclaim {
    background: white
}

#document.skn-mlf6 .disclaim .field.singlecolumn {
    margin-left: 0
}

#document.skn-mlf6 .disclaim .field.singlecolumn,
#document.skn-mlf6 .disclaim .field.singlecolumn li,
#document.skn-mlf6 .disclaim .field.singlecolumn p,
#document.skn-mlf6 .disclaim .field.singlecolumn span {
    font-size: 9px;
    color: #8a8a8a
}

#document.skn-mlf6 .disclaim .heading:before {
    display: none
}

#document.skn-mlf6 .section {
    position: relative
}

/*Social Icons*/
#document.skn-mlf6 .svg-circlebdr,
#document.skn-mlf6 .svg-inricon {
    fill: #6e6e6e
}

#document.skn-mlf6 .svg-circlebdr {
    stroke: #6e6e6e
}

/* GRYR */
#document.skn-mlf6 .displayNoneThisField {
    display: none
}

/* Keep this class always at bottom */

/*For Extra Space Before Colon*/
#document.skn-mlf6 .beforecolonspace {
    display: none !important
}

#document.skn-mlf6.MFR .beforecolonspace {
    display: inline !important
}

</style > <style type="text/css"id="dynamic"data-time="Sat Jul 10 2021 13:40:07 GMT+0530 (India Standard Time)" > #document.skn-mlf6,
#document.skn-mlf6 table {
    line-height: 13px
}

#document.skn-mlf6.pagesize {
    width: 595px
}

.resume-document #document.skn-mlf6.pagesize.LPL,
.resume-document #document.skn-mlf6.pagesize.LIT {
    width: 750px
}

#document.skn-mlf6.fontsize,
#document.skn-mlf6 .lang-sec .paragraph *,
#document.skn-mlf6 .skli-sec .paragraph * {
    font-size: 10px
}

#document.skn-mlf6.fontface {
    font-family: Century Gothic
}

#document.skn-mlf6 .section {
    padding-top: 25px
}

#document.skn-mlf6 .singlecolumn,
#document.skn-mlf6 .maincolumn {
    margin-left: 0px
}

#document.skn-mlf6 .name {
    font-size: 25px;
    line-height: 31px
}

#document.skn-mlf6 .resumeTitle {
    font-size: 14px
}

#document.skn-mlf6 .sectiontitle {
    font-size: 12px;
    line-height: 13px
}

#document.skn-mlf6 .jobtitle {
    font-size: 12px
}

#document.skn-mlf6 .parentContainer .section:not(.lang-sec):not(.skli-sec) .firstparagraph ~ .paragraph {
    padding-top: 15px
}

#document.skn-mlf6 .section .heading:before {
    top: 3px
}

#document.skn-mlf6 .parentContainer .paragraph:not(.firstparagraph):before {
    top: 18px
}

#document.skn-mlf6 .paragraph .datewrapper {
    top: 15px;
    margin-left: -168px;
    width: 118px
}

#document.skn-mlf6 .parentContainer .firstparagraph:before {
    top: 0
}

#document.skn-mlf6 .parentContainer .experience .firstparagraph:before,
#document.skn-mlf6 .parentContainer .education .firstparagraph:before {
    top: 4px
}

#document.skn-mlf6 .firstparagraph .sectiontitle {
    padding-bottom: 5px
}

#document.skn-mlf6 .iconSvg svg,
#document.skn-mlf6 .iconSvg {
    width: 11px;
    height: 15px
}

#document.skn-mlf6 .section .heading {
    width: 140px
}

#document.skn-mlf6 .parentContainer .section:before {
    left: 140px
}

#document.skn-mlf6 .parentContainer .paragraph {
    margin-left: 140px
}

#document.skn-mlf6:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 0px;
    left: 173px;
    border-right: 2px solid #dadada;
    width: 2px;
    height: calc(100% - 48px)
}

#document.skn-mlf6 .skli-sec .singlecolumn .field:last-child {
    min-height: 13px
}

#document.skn-mlf6 .right-box .paragraph,
#document.skn-mlf6 .parentContainer .paragraph {
    padding-left: 28px
}

/*SDCL*/
#document.skn-mlf6 .name,
#document.skn-mlf6 .sectiontitle,
#document.skn-mlf6 .parentContainer .experience .firstparagraph:before,
#document.skn-mlf6 .parentContainer .education .firstparagraph:before {
    color: #007d89
}

#document.skn-mlf6 .name:before,
#document.skn-mlf6 .section .heading:before,
#document.skn-mlf6 .parentContainer .experience .paragraph:before,
#document.skn-mlf6 .parentContainer .education .paragraph:before {
    background: #007d89
}

/*Infographic Bar*/
#document.skn-mlf6 .lang-sec.infobarsec .paragraph,
#document.skn-mlf6 .skli-sec.infobarsec .paragraph {
    width: 168px
}

#document.skn-mlf6 .lang-sec.infobarsec .inner-rating,
#document.skn-mlf6 .skli-sec.infobarsec .inner-rating {
    background-color: #007d89
}

#document.skn-mlf6 .lang-sec.infobarsec .paragraph,
#document.skn-mlf6 .skli-sec.infobarsec .paragraph {
    width: 168px
}

#document.skn-mlf6 .lang-sec.infobarsec .sortable-item,
#document.skn-mlf6 .skli-sec.infobarsec .sortable-item {
    display: inline-block;
    vertical-align: top
}

#document.skn-mlf6 .lang-sec.infobarsec .heading,
#document.skn-mlf6 .skli-sec.infobarsec .heading {
    margin-left: -166px
}

#document.skn-mlf6 .lang-sec.infobarsec,
#document.skn-mlf6 .skli-sec.infobarsec {
    padding-left: 166px;
    padding-top: 25px
}

/*Infographic Tiles*/
#document.skn-mlf6 .lang-sec.infotilesec,
#document.skn-mlf6 .skli-sec {
    padding-left: 166px;
    padding-top: 25px
}

#document.skn-mlf6 .lang-sec.infotilesec .heading,
#document.skn-mlf6 .skli-sec .heading {
    margin-left: -166px
}

#document.skn-mlf6 .lang-sec.infotilesec .paragraph,
#document.skn-mlf6 .skli-sec .paragraph {
    width: 168px
}

#document.skn-mlf6 .lang-sec.infotilesec .nativeLangPara {
    width: 358px !important;
    max-width: 358px
}

/*Rectangular Rating Blocks*/
#document.skn-mlf6 .paragraph .sliced-rect .sliced-rect-tile.ratvfill {
    background-color: #007d89
}

/*Finalize Fixes*/
#document.skn-mlf6 .lang-sec.infobarsec .sortable-item .para_odd,
#document.skn-mlf6 .lang-sec.infobarsec .sortable-item .para_even {
    max-width: 168px
}

#document.skn-mlf6 .lang-sec.infobarsec .sortableInner .sortable-item:not(:first-child) .paragraph {
    width: 168px;
    vertical-align: top
}

#document.skn-mlf6 .lang-sec.infobarsec .sortable-item .nativeLangPara {
    width: 358px;
    max-width: 358px
}

#document.skn-mlf6 .lang-sec .sortable-item,
#document.skn-mlf6 .skli-sec .sortable-item {
    display: inline-block;
    vertical-align: top
}

/* fixes for builder and componentization */
/*Spacing b/w paragraph*/

#document.skn-mlf6 .parentContainer .sortableInner .sortable-item:first-child .paragraph {
    padding-top: 0
}

#document.skn-mlf6 .parentContainer .education .sortableInner .sortable-item:first-child .paragraph {
    padding-top: 25px
}

#document.skn-mlf6 .right-box .sortable-item .SECTION_NAME {
    margin-top: 65px
}

#document.skn-mlf6 .parentContainer .section-container:last-child .section .sortable-item.paragraph-container:last-child .paragraph,
#document.skn-mlf6.MPR .parentContainer .sortable-item:last-child .section .paragraph:last-child {
    padding-bottom: 56px
}

.page-finalize #document.skn-mlf6 .lang-sec.infobarsec:before {
    z-index: 9
}

.modal-preview-resume #document.skn-mlf6 .experience .sortableInner > .paragraph .datewrapper {
    left: -140px;
    top: 15px
}

.modal-preview-resume #document.skn-mlf6 .parentContainer > div > .sortable-item:last-child .heading + div > div:not(.sortableInner) > .firstparagraph,
.modal-preview-resume #document.skn-mlf6 .parentContainer > div > .sortable-item:last-child .sortableInner .paragraph:last-child {
    padding-bottom: 56px
}

#document.skn-mlf6 .disclaim {
    padding-top: 15px
}

/*Infographics: Builder team Fix for finalise page*/
.page-finalize #document.skn-mlf6 .lang-sec.infobarsec .singlecolumn {
    border: 0
}

#document.skn-mlf6 .sortable-item i.far.fa-check {
    font-family: "Font Awesome 5 Pro"
}

.page-finalize #document.skn-mlf6 .lang-sec.infobarsec {
    border-left: none;
    margin-left: 0px
}

.page-finalize #document.skn-mlf6 .lang-sec.infobarsec .sortable-item + .sortable-item .paragraph {
    max-width: 168px
}

.resume-preview #document.skn-mlf6 .lang-sec .sortable-item .paragraph,
.resume-preview #document.skn-mlf6 .info-sec .sortable-item .paragraph,
.page-tips #document.skn-mlf6 .lang-sec .sortable-item .paragraph,
.page-tips #document.skn-mlf6 .info-sec .sortable-item .paragraph {
    width: 170px
}

.page-finalize #document.skn-mlf6 .lang-sec.infobarsec .heading + div > div:not(.sortableInner) .firstparagraph .singlecolumn {
    border-left: 1px solid #979797
}

.page-finalize #document.skn-mlf6 .section {
    min-height: 24px
}

.page-finalize #document.skn-mlf6 .lang-sec.infobarsec .sortable-item .paragraph {
    padding-bottom: 5px
}



#document.skn-mlf6 .skli-sec.SECTION_SKLI .paragraph * {
    color: #504B48
}

#document.skn-mlf6 .topsection .left-box {
    padding: 0 28px 0 35px;
    width: 177px
}

#document.skn-mlf6 .PICTPic,
#document.skn-mlf6 .PICTPic .field {
    width: 110px;
    height: 123px
}

#document.skn-mlf6 .left-box .firstparagraph,
#document.skn-mlf6 .right-box .firstparagraph {
    padding-top: 30px
}

#document.skn-mlf6 .parentContainer {
    padding: 0 35px 35px
}

/* LIT */
.resume-preview #document.skn-mlf6.LIT .topsection .left-box {
    padding-left: 25px
}

@-moz-document url-prefix() {
    #document.skn-mlf6 .topsection .left-box {
        width: auto !important
    }

    #document.skn-mlf6.MPR .topsection .left-box,
    #document.skn-mlf6.MFR .topsection .left-box {
        padding-right: 32px !important
    }

    .page-final #document.skn-mlf6.LPL .topsection .left-box {
        padding-right: 36px
    }

    .page-final #document.skn-mlf6.LIT .topsection .left-box {
        padding-right: 36px
    }

    .resume-preview #document.skn-mlf6.LIT .topsection .left-box {
        padding-left: 28px
    }

    #document.skn-mlf6.LPL .topsection .left-box::before,
    #document.skn-mlf6.LIT .topsection .left-box::before {
        right: -1px !important
    }
}

@media all and (-ms-high-contrast:none) {

    *::-ms-backdrop,
    #document.skn-mlf6 .iconSvg {
        margin-top: 0px
    }

    /* IE11 */
    .resume-preview .skn-mlf6#document .topsection .left-box::before {
        height: 120%
    }

    .page-final .MFR#document.skn-mlf6:before,
    .page-final .MPR#document.skn-mlf6:before {
        left: 173px
    }

}

/*LPL Builder Fixes */
#document.skn-mlf6.LPL .parentContainer .education .firstparagraph:before,
#document.skn-mlf6.MFR .parentContainer .education .firstparagraph:before,
#document.skn-mlf6.LIT .parentContainer .education .firstparagraph:before {
    top: 4px
}

.page-final #document.skn-mlf6.LPL .topsection .left-box,
.page-final #document.skn-mlf6.LIT .topsection .left-box {
    width: 170px
}

#document.skn-mlf6.LPL .education .heading,
#document.skn-mlf6.LIT .education .heading {
    float: none;
    padding-bottom: 10px
}

#document.skn-mlf6.LPL .parentContainer .lang-sec.infobarsec .paragraph,
#document.skn-mlf6.LIT .parentContainer .lang-sec.infobarsec .paragraph {
    padding-left: 0
}

#document.skn-mlf6.LPL .sortable-item .paragraph .datewrapper,
#document.skn-mlf6.LIT .sortable-item .paragraph .datewrapper {
    width: 130px
}

#document.skn-mlf6.LPL .parentContainer .education .sortableInner .sortable-item:first-child .paragraph,
#document.skn-mlf6.LIT .parentContainer .education .sortableInner .sortable-item:first-child .paragraph {
    padding-top: 0px
}

#document.skn-mlf6.LPL .PARAGRAPH_EDUC:not(.firstparagraph):before,
#document.skn-mlf6.MFR .PARAGRAPH_EDUC:not(.firstparagraph):before,
#document.skn-mlf6.LIT .PARAGRAPH_EDUC:not(.firstparagraph):before {
    top: 8px !important
}

#document.skn-mlf6.LPL .PARAGRAPH_EXPR:not(.firstparagraph):before,
#document.skn-mlf6.LIT .PARAGRAPH_EXPR:not(.firstparagraph):before {
    top: 15px
}

.page-final #document.skn-mlf6.LPL .parentContainer .data-LNGG .paragraph,
.page-final #document.skn-mlf6.LIT .parentContainer .data-LNGG .paragraph {
    margin-left: 0
}

.page-finalize #document.skn-mlf6.LPL .lang-sec.infobarsec .sortable-item .para_odd,
#document.skn-mlf6.LPL .lang-sec.infobarsec .sortable-item .para_even,
.page-finalize #document.skn-mlf6.LIT .lang-sec.infobarsec .sortable-item .para_odd,
#document.skn-mlf6.LIT .lang-sec.infobarsec .sortable-item .para_even {
    width: 196px !important;
    max-width: 196px
}

.page-final #document.skn-mlf6.LPL .topsection .left-box,
.page-final #document.skn-mlf6.LIT .topsection .left-box {
    width: 210px
}

.page-final #document.skn-mlf6.LPL .parentContainer .section:before,
.page-final #document.skn-mlf6.LIT .parentContainer .section:before {
    left: 173px
}

.page-final #document.skn-mlf6.LPL .section .heading,
.page-final #document.skn-mlf6.LIT .section .heading {
    width: 173px
}

.page-final #document.skn-mlf6.LPL .parentContainer .paragraph,
.page-final #document.skn-mlf6.LIT .parentContainer .paragraph {
    margin-left: 173px
}

.page-finalize #document.skn-mlf6.MLF6 .sortableInner .sortable-item.paragraph-container:nth-child(3) .paragraph {
    display: block
}

#document.skn-mlf6.MLF6 .SECTION_SKLI .sortableInner .sortable-item {
    display: inline-block
}

.resume-preview #document.skn-mlf6.LPL .topsection .left-box {
    padding-left: 26px
}

/* Builder fixes */
#document.skn-mlf6 .lang-sec .title-edit,
#document.skn-mlf6 .skli-sec .title-edit {
    margin-left: -166px
}

.resume-preview #document.skn-mlf6 .topsection .left-box:before {
    right: 0
}

.page-final #document.skn-mlf6.LIT .topsection .left-box:before,
.page-final #document.skn-mlf6.LPL .topsection .left-box:before {
    right: -2px
}

.resume-preview #document.skn-mlf6.LIT .topsection .left-box:before {
    right: -0.5px !important
}

.resume-preview #document.skn-mlf6.LPL .topsection .left-box:before {
    right: 0
}

.page-final #document.skn-mlf6.LPL .name:before,
.page-final #document.skn-mlf6.LIT .name:before {
    left: -30px
}

.resume-preview #document.skn-mlf6.LPL .name:before,
.resume-preview #document.skn-mlf6.LIT .name:before {
    left: -35px
}

#document.skn-mlf6 .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,
#document.skn-mlf6 .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child {
    min-height: 0px
}

/*MFR Specific*/
#document.skn-mlf6.MFR .parentContainer .lang-sec.infobarsec .paragraph:not(.firstparagraph):before {
    background: none
}

#document.skn-mlf6.MFR .parentContainer .education .sortableInner .sortable-item:first-child .paragraph {
    padding-top: 0px
}

@-moz-document url-prefix() {
    #document.skn-mlf6.MFR .parentContainer .section::before {
        left: 140.5px
    }

    .firefox .page-final #document.skn-mlf6.MLF6 .topsection .left-box {
        border: none
    }

    .resume-preview #document.skn-mlf6.LPL .topsection .left-box {
        padding-left: 28px
    }
}

/*Hover issue*/
#document.skn-mlf6.MFR .name-contact.active .doc-overlay.section-overlay:before,
#document.skn-mlf6.MPR .name-contact.active .doc-overlay.section-overlay:before {
    left: 77px
}

#document.skn-mlf6.MFR .name-contact.active .SECTION_NAME .doc-overlay:before,
#document.skn-mlf6.MFR .active .doc-overlay.section-overlay:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #dadada;
    left: 219px
}

#document.skn-mlf6.MPR .name-contact.active .SECTION_NAME .doc-overlay:before,
#document.skn-mlf6.MPR .active .doc-overlay.section-overlay:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #dadada;
    left: 219px
}

#document.skn-mlf6.MFR .data-PICT.active .doc-overlay.section-overlay:before,
#document.skn-mlf6.MPR .data-PICT.active .doc-overlay.section-overlay:before {
    display: none
}

/*Builder fixes for horizontal line*/
.resume-preview #document.skn-mlf6.LPL:before,
.resume-preview #document.skn-mlf6.LIT:before {
    left: 174px
}

.modal-preview #document.skn-mlf6:before,
.render-preview #document.skn-mlf6:before {
    left: 175px
}

#document.skn-mlf6.MPR:before,
#document.skn-mlf6.MFR:before {
    box-sizing: content-box
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    #document.skn-mlf6.MPR:before,
    #document.skn-mlf6.MFR:before {
        left: 175px
    }

    .modal-preview-resume #document.skn-mlf6.MPR .section .heading::before,
    .modal-preview-resume #document.skn-mlf6.MFR .section .heading::before {
        right: -3px
    }

    .modal-preview-resume #document.skn-mlf6.MPR .name::before,
    .modal-preview-resume #document.skn-mlf6.MFR .name::before {
        left: -35px
    }

    .modal-preview-resume #document.skn-mlf6.MPR .parentContainer .education .firstparagraph::before,
    .modal-preview-resume #document.skn-mlf6.MFR .parentContainer .education .firstparagraph::before,
    .modal-preview-resume #document.skn-mlf6.MPR .parentContainer .experience .firstparagraph::before,
    .modal-preview-resume #document.skn-mlf6.MFR .parentContainer .experience .firstparagraph::before {
        left: -4px
    }
}

.page-final #document.skn-mlf6.LPL .parentContainer .sortable-drag-item .lang-sec .paragraph,
.page-final #document.skn-mlf6.LIT .parentContainer .sortable-drag-item .lang-sec .paragraph {
    margin-left: 0
}

/* To fix drag issue on builder */

/*Fixes for builder for skill*/
#document.skn-mlf6 .skli-sec .sortable-item .paragraph:last-child .singlecolumn .field:last-child {
    min-height: 13px
}

#document.skn-mlf6 .skli-sec .sortable-item:nth-last-child(1) .paragraph .singlecolumn .field:last-child,
#document.skn-mlf6 .skli-sec .sortable-item:nth-last-child(2) .paragraph .singlecolumn .field:last-child {
    min-height: 0
}

#document.skn-mlf6 .lang-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph,
#document.skn-mlf6 .lang-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph,
#document.skn-mlf6 .skli-sec .sortableInner > .sortable-item:nth-last-child(1) .paragraph,
#document.skn-mlf6 .skli-sec .sortableInner > .sortable-item:nth-last-child(2) .paragraph {
    padding-bottom: 0 !important
}